@import '../../../styles/shared-styles.scss';

.container {
    height: 90vh;
    background-color: white !important;
}

.header-content {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 15vh !important;
    background-color: white !important;
}

.table {
    position: relative;
    top: 15vh;
    border-collapse: collapse;
}

.table-header {
    position: sticky;
    top: 15vh;
    z-index: 10;
    height: 1rem;
}

// .table-body {
//     position: relative;
// }

ul {
    list-style: none;
}

.pagination-container {
    position: relative;
    top: 15vh;
}
.page-item {
    cursor: pointer;
    margin: 2px;
    border: 1px solid $shopapp-color;
    border-radius: 5px;
}
.page-link {
    padding: 5px 10px;
}
.page-item.active {
    color: white;
    background-color: $shopapp-color;
}
