{
  "semi": true, 
  "singleQuote": true, 
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "proseWrap": "preserve",
  "singleQuote": true
}
