<div *ngIf="product">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Update Product</h3>
                <form (ngSubmit)="updateProduct()">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" required
                            [(ngModel)]="updatedProduct.name">
                    </div>
                    <div class="form-group mb-3">
                        <label for="price">Price:</label>
                        <input type="text" id="price" name="price" class="form-control" required
                            [(ngModel)]="updatedProduct.price">
                    </div>
                    <div class="form-group mb-3">
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" class="form-control" required
                            [(ngModel)]="updatedProduct.description">
                    </div>
                    <div class="form-group mb-3">
                        <label for="category">Category:</label>
                        <select id="category" name="category" class="form-control" required
                            [(ngModel)]="updatedProduct">
                            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}
                            </option>
                        </select>
                    </div>
                    <div class="row mb-3">
                        <div class="thumbnail-container">
                            <div *ngFor="let productImage of product?.product_images; let i = index"
                                class="thumbnail-item" [ngClass]="{'active': i === currentIndexImage}"
                                (click)="thumbnailClick(i, productImage.image_url)">
                                <img [src]="productImage.image_url" class="thumbnail-image" alt="Thumbnail Image">
                                <button type="button" class="btn btn-sm  delete-image-btn"
                                    (click)="deleteImage(productImage)">
                                    <i class="fa fa-times-circle text-danger"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="images">Add images (up to 5):</label>
                        <input type="file" id="images" name="images" multiple (change)="onFileChange($event)"
                            [(ngModel)]="addedProductImage" accept="image/*">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>